page-login {
    	

	.bgcolor{
		color: #000;
		font-weight: bold;
	}
	

	img{
		width: 70px;
	}
	

	a{
		font-weight: bold;
		text-decoration: none;
		color: #000;
    }
    .icon-text{
	    float: right;
	}
	.icon{
	    padding-right: 10px;
	    padding-left: 10px;
	}
	

	

	

	

}
