page-init {

.icon-right{
    font-size: 20px;
    float: left;
    margin-inline-start: 30%;
    margin-inline-end: 10%;
}
.icon-left{
    
    font-size: 20px;
    float: left;
    margin-inline-start: 10%;
    margin-inline-end: 30%;
}
.icon-text{
    float: right;
}
.icon{
    padding-right: 10px;
    padding-left: 10px;

}
table {
    font-family: arial, sans-serif;
    //border-collapse: collapse;
    width: 100%;
    border: 1px solid #EEE;
    text-align: center;
    
}
.lefttd{
    border-right: 1px solid #EEE;

}
td, th {
    
    //text-align: left;
    padding: 8px;
    //border-collapse: collapse;
}
.fa{
    font-size: 23px;
}
tr:nth-child(even) {
    background-color: #eee;
    border-top:none; 
    //border-collapse: collapse;
    border-left: 1px solid #dddddd;
}

}
